<h2> Detail on place </h2>

<td><%= @place.name %></td> <br/>
<td><%= @place.location %></td> <br/>
<td><%= @place.place_type %></td>
<br/><br/>
<%= link_to 'Edit this place', "/places/#{@place.id}/edit" %> <br/>
<%= link_to 'Delete this place', "/places/#{@place.id}", method: :delete %>